* {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}


section > ul > li {
    letter-spacing: 10px;
}

p{
	color: yellow;
}

h1{
	font-size: 3rem;
}

#sub-header{
	text-transform: uppercase;
}

h3{

}

.text-green{
	background-color: green;
}

.border-blue{
	border: 2px blue solid;
}

section img{
	height: 20vh;
	width: 20vh;
	border-radius: 20vh;
}

img+ul{
	list-style-type: none;
}

#footerP{
	color: black;
	text-align: center;
}

/*Descendant Selector
	select all <a>'s nested inside an <li>
	(all a nested in li)
	REMEMBER:  IT SHOULD BE NESTED..
	li a{
		color: pink;
	}

	footer a{
	color: pink;
	}

*/

/*Adjacent Selector
	select only paragraphs that are immediately preceded by an <h1>
	(p after h1)

	h1+p{
		color: pink;
	}

	h2 p{
		color: pink;
	}
*/

/*Direct Descendant
	Select only the li's that are direct children of a div element
	div > li{
		color: white;
	}

	section > h2{
	color: pink;
	}
	
	footer > a{
	border: 2px solid blue;
	}
*/

/*Attribute Selector
	select all input elements where the type attribute is set to "text"
	
	input[type="text"]{
	width: 300px;
	color: yellow;
	}

	input[type="text"][name="search"]{
	width: 300px;
	color: red;
	}

*/

/*Pseudo Classes
	keyword added to a selector that specifies a special state of the selected elements
	
	Sample code below targets a special state which is hover that is a descendant of nav

	nav a:hover{
	color: orange;
	text-decoration: none
	}

	Sample code targets all a special state which is hovber

	a:hover{
	color: orange;
	text-decoration: none
	}
*/

/*CSS Units
	Absolute
		*px - pixels
		*pt - point
	
	Relative
		*em - relative to the font-size of the element (2em means 2 times the size of the current font). Sample below, the section was initiated font-size: 30px, with 2em, which uses the font-size initiated in section and twice of it.

			section{
				font-size: 30px;
			}

			span{
				font-size: 2em;
			}

		*rem - Relative to font-size of the root element. Pinaka root ng element like body.

			body{
				font-size: 20px;
			}

			.sample-size{
				font-size: 3rem; this is 60px
				border: 2px solid green;
			}

			div{
				font-size: 2rem; thi is 40px
				border: 2px solid green;
			}
*/